@import variables
.chat
  position relative
  width 100%
  height 70%
  float left
  padding 10px

  .chat-area
    height 87%
    width 100%
    overflow-y scroll
    font-size 12pt
    border-top 1px solid #555
    
    .chat-messages
      ul.chat-messages-list
        list-style none
        padding 0

        li.correct
          color #48e548

  .chat-input-area
    bottom 50px
    width 100%

    input
      width 70%
    button
      width 20%
