.chat
  background-color #777
  position relative
  width 100%
  height 70%
  float left

  .chat-area
    position absolute
    height 87%
    width 100%
    overflow-y scroll
    
    .chat-messages
      ul.chat-messages-list
        list-style none
        padding 0

        li.correct
          color green

  .chat-input-area
    position absolute
    bottom 50px
    width 100%

    input
      width 70%
    button
      width 20%
