@import variables
.container-custom
  margin-top 50px

body
  overflow hidden

.right
  .github-fork-ribbon
    background-color #777

div.right-bar
  border-left-style solid
  border-left-width 1px
  border-left-color #333
  background-color $gray-dark
  position absolute
  height 100%
  right 0
  top 0
  padding 50px 0 0 0
  z-index -1
