@import variables
.container-custom
  margin-top 50px

div.right-bar
  border-left-style solid
  border-left-width 1px
  border-left-color #333
  background-color $gray-dark
  position absolute
  height 100%
  right 0
  top 50px
  padding 0
