extends template

block content
  script(type='text/javascript' src='/javascripts/index.js')
  include partials/_game

  .right-bar.col-md-3
    include partials/_scoreboard
    include partials/_chat
