doctype html
html(ng-app="mathApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/site.css')
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')
    script(type='text/javascript' src='https://cdn.socket.io/socket.io-1.1.0.js')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript' src='https://cdn.rawgit.com/jprichardson/string.js/master/lib/string.min.js')

  body
    include partials/_navbar

    .container(ng-controller="mainController")
      block content
