nav.navbar {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.6);
  position: fixed;
  background-color: #999;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
}
nav.navbar ul li.active {
  font-weight: bold;
  background-color: #3a3f44;
}
.container-custom {
  margin-top: 50px;
}
div.right-bar {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #333;
  background-color: #3a3f44;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  padding: 50px 0 0 0;
  z-index: -1;
}
.chat {
  position: relative;
  width: 100%;
  height: 70%;
  float: left;
  padding: 10px;
}
.chat .chat-area {
  height: 95%;
  width: 100%;
  overflow-y: scroll;
  font-size: 12pt;
  border-top: 1px solid #555;
}
.chat .chat-area .chat-messages ul.chat-messages-list {
  list-style: none;
  padding: 0;
}
.chat .chat-area .chat-messages ul.chat-messages-list li.correct {
  color: #48e548;
}
.chat .chat-input-area {
  position: absolute;
  width: 100%;
}
.chat .chat-input-area .left-lip,
.chat .chat-input-area .right-lip,
.chat .chat-input-area input.chat-input {
  margin-top: 6px;
}
.chat .chat-input-area .left-lip,
.chat .chat-input-area .right-lip {
  height: 23px;
  float: left;
  border-right: 1px solid #bbb;
  bottom: 13px;
}
.chat .chat-input-area .left-lip .blocker,
.chat .chat-input-area .right-lip .blocker {
  position: absolute;
  height: 18px;
  border-right: 1px solid #3a3f44;
}
.chat .chat-input-area input.chat-input {
  background: none;
  border: none;
  border-bottom: 1px solid #bbb;
  padding: 1px 5px 1px 5px;
  color: #fff;
  float: left;
}
.chat .chat-input-area input.chat-input:focus {
  outline-width: 0;
}
.chat .chat-input-area button {
  margin-left: 9px;
}
.scoreboard {
  position: relative;
  width: 100%;
  height: 30%;
  float: left;
  padding: 10px;
  overflow-y: scroll;
}
.scoreboard ul.scores {
  list-style: none;
  padding: 0;
  font-size: 16pt;
}
.scoreboard ul.scores li.user-active {
  font-weight: bold;
}
div.game {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #272b30;
  padding: 50px 0 0 0;
  z-index: -1;
}
div.game .problem {
  font-size: 170pt;
  text-align: center;
  position: absolute;
  width: 1000px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -500px;
}
div.game .status {
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 50pt;
  left: 50%;
  position: absolute;
  margin-left: -100px;
  bottom: 200px;
}
