nav.navbar {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.6);
  position: fixed;
  background-color: #999;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
}
nav.navbar ul li.active {
  font-weight: bold;
  background-color: #3a3f44;
}
.container-custom {
  margin-top: 50px;
}
div.right-bar {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #333;
  background-color: #3a3f44;
  position: absolute;
  height: 100%;
  right: 0;
  top: 50px;
  padding: 0;
}
.chat {
  position: relative;
  width: 100%;
  height: 70%;
  float: left;
  padding: 10px;
}
.chat .chat-area {
  height: 87%;
  width: 100%;
  overflow-y: scroll;
  font-size: 12pt;
  border-top: 1px solid #555;
}
.chat .chat-area .chat-messages ul.chat-messages-list {
  list-style: none;
  padding: 0;
}
.chat .chat-area .chat-messages ul.chat-messages-list li.correct {
  color: #48e548;
}
.chat .chat-input-area {
  bottom: 50px;
  width: 100%;
}
.chat .chat-input-area input {
  width: 70%;
}
.chat .chat-input-area button {
  width: 20%;
}
.scoreboard {
  position: relative;
  width: 100%;
  height: 30%;
  float: left;
  padding: 10px;
}
.scoreboard ul.scores {
  list-style: none;
  padding: 0;
  font-size: 16pt;
}
.scoreboard ul.scores li.user-active {
  font-weight: bold;
}
div.game {
  position: absolute;
  height: 100%;
  top: 50px;
  left: 0;
  background-color: #272b30;
  padding: 0;
}
div.game .problem {
  font-size: 170pt;
  text-align: center;
  position: absolute;
  width: 1000px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -500px;
}
div.game .status {
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 50pt;
  left: 50%;
  position: absolute;
  margin-left: -100px;
  bottom: 200px;
}
