.chat
  .chat-area
    .chat-messages
      ul.chat-messages-list

  .chat-input-area
    .left-lip
      .blocker
    input.chat-input.col-md-9(placeholder="click here to start playing!")
    .right-lip
      .blocker

    button.chat-submit.col-md-2.btn.btn-primary.btn-sm
      | send
